# true = mọi request đi qua Ocelot API Gateway
VITE_USE_GATEWAY=false

# Kịch bản 1 (cùng máy): dùng localhost
# VITE_PROJECT_API=http://localhost:5116
# VITE_TASK_API=http://localhost:5027
# VITE_NOTIFY_API=http://localhost:5286

# Kịch bản 2 (LAN): thay IP bằng IP LAN của máy chạy service
VITE_PROJECT_API=http://192.168.1.10:5116
VITE_TASK_API=http://192.168.1.11:5027
VITE_NOTIFY_API=http://192.168.1.12:5286
VITE_GATEWAY_API=http://localhost:5114

VITE_PROJECT_PREFIX=/project-api
VITE_TASK_PREFIX=/task-api
VITE_NOTIFY_PREFIX=/notify-api
